#btnContatto {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #399739;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #E9E8E8;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
  
    &:hover {
      background: #399739;
      box-shadow: 0 0 30px 5px #399739;
      transition: all 0.2s ease-out;
  
      &::before {
        animation: sh02;
      }
    }
  
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      transform: skewX(-20deg);
      transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  
    &:active {
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow 0.2s ease-in;
    }
  }

  #btnForm {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid #399739;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #E9E8E8;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
  
    &:hover {
      background: #399739;
      box-shadow: 0 0 30px 5px #399739;
      transition: all 0.2s ease-out;
  
      &::before {
        animation: sh02;
      }
    }
  
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      transform: skewX(-20deg);
      transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  
    &:active {
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow 0.2s ease-in;
    }
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }